<p>
  <strong><%= t('.album_title')%></strong>
  <%= @track.album.title %>
</p>

<p>
  <strong><%= t('.track_itle')%></strong>
  <%= @track.title %>
</p>


<% if user_signed_in? %>
	<% if @track.album.artist.user_id == current_user.id %>
		<%= link_to t('.edit'), edit_track_path(@track), class: "btn btn-default"  %> |
	<% end %>
<% end %>

<%= link_to t('.back'), tracks_path, class: "btn btn-default"  %>

