<h1>Editing Artist</h1>

<%= simple_form_for @artist, :html => { :multipart => true } do |f| %>


  <%= f.select :genre_id, @genre %>
  <%= f.file_field :artist_img%>
  <%= f.input :title, label: "Artist Name: " %>
  <%= f.input :biography %>
 
  <%= f.button :submit %>

<% end %>

<%= link_to 'Show', @artist, class: "btn btn-default" %> 
<%= link_to 'Back', artists_path, class: "btn btn-default" %>
