<h1 class="current-genre"><%= params[:genre]%></h1>

<% if @artists.count == 0 %>
  <h1>There are no artists currently in this genre</h1>
<% else %>

<table class="table">
  <thead>
    <tr>
      <th>Artist Image</th>
      <th>Title</th>
      <th>Biography</th>
      <th>Genre</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr id='<%="artist_#{artist.id}"%>'>
        <td> <a href="/artists/<%= artist.id %>"><%= image_tag artist.artist_img.url(:artist_index), class: "artist"%></a></td>
        <td><%= artist.title %></td>
        <td><%= artist.biography %></td>
        <td><%= artist.genre.name %></td>
        <td><%= link_to 'Show', artist, class: "btn btn-default" %></td>
        <% if user_signed_in?%>
          <% if current_user.id == artist.user_id %>
            <td><%= link_to 'Edit', edit_artist_path(artist), class: "btn btn-default" %> </td> 
            <td><%= link_to 'Destroy',artist, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, class: "btn btn-default" %></td>
          <% end %>
        <% end %>     
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>




