<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @artist.title %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @artist.biography %>
</p>

<%= link_to 'Add Album', new_album_path(artist_id: @artist) %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
