.row
	%h1= t('.title')

	%h2= t('.welcome')

	%h3= t('.message')

- 2.times do
	%br

.row
	.col-md-2			
		%strong= t('.artist') 
		%table.table 
			%thead 
				%tr
					%th= t('.artist_h1') 
			%tbody
				- @artists.each do |artist| 
					%tr
						%td= artist.title 
	.col-md-4
		%strong= t('.album')   
		%table.table 
			%thead
				%tr
					%th= t('.album_h1') 
					%th= t('.artist_h2') 
			%tbody
				- @albums.each do |album| 
					%tr
						%td= album.title 
						%td= album.artist.title

	.col-md-6
		%strong= t('.track') 
		%table.table 
			%thead
				%tr
					%th= t('.track_h1') 
					%th= t('.album_h2') 
					%th= t('.artist_h3') 
			%tbody
				- @tracks.each do |track| 
					%tr
						%td= track.title 
						%td= track.album.title
						%td= track.album.artist.title
					
				
				
		  

