= link_to 'Artists', artists_path 
= link_to 'Albums', albums_path 
= link_to 'Tracks', tracks_path 
= link_to 'Contact Us', contact_path 

%h1= t('.title')
%p= t('.welcome')

%p List of Albums: 
%table
	%tbody
		- @albums.each do |album| 
			%tr
				%td= album.title 
				%td= link_to 'Show',album 
				
		  

