%div
	%h1= t('.title')
	%h2= t('.welcome')
	%h3= t('.message')

%strong List of Albums currently on Musify: 
%table.table 
	%thead
		%tr
			%th Title
			%th Artist
	%tbody
		- @albums.each do |album| 
			%tr
				%td= album.title 
				%td= album.artist.title
				%td= link_to t('.show'),album, class: "btn btn-default" 
				
				
		  

