<h1>List of Albums</h1>
<table class="table">
  <thead>
    <tr>
      <th>Album Image</th>
      <th>Artist</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr id='<%="album_#{album.id}"%>'>
        <td> <a href="/albums/<%= album.id %>"><%= image_tag album.album_img.url(:album_index), class: "artist"%></a></td>
        <td><%= album.artist.title%></td>
        <td><%= album.title %></td>
        <td><%= link_to 'Show', album, class: "btn btn-default" %></td>
        <% if user_signed_in?%>
          <% if current_user.id == album.artist.user_id %>
            <td><%= link_to 'Edit', edit_album_path(album), class: "btn btn-default" %></td>
            <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "btn btn-default"%></td>
            <%end%>
        <%end%>    
      </tr>  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', artists_path %>