<p>
  <strong>Artist:</strong>
  <%= @album.artist.title %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<table class="table">
	<% @album.tracks.each do |track| %>
	  <tr id='<%="track_#{track.id}"%>'>
		<td><%= link_to track.title, track %></td>
		<td><%= link_to 'Show',track, class: "btn btn-default" %></td>
		<% if user_signed_in? %>
	        <% if @artist_user_id == current_user.id %>
				<td><%= link_to 'Edit', edit_track_path(track), class: "btn btn-default" %></td>
				<td><%= link_to 'Destroy',track, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, class: "btn btn-default" %></td>
			<% end %>
	        <% end %>
	  </tr>
	  <%end%>
</table> 

<%= link_to 'Add Track', new_track_path(album_id: @album), class: "btn btn-default" %> |
<%= link_to 'Edit', edit_album_path(@album), class: "btn btn-default" %> |
<%= link_to 'Back', albums_path, class: "btn btn-default" %>
