<p>
  <strong><%= t('.artist') %></strong>
  <%= @album.artist.title %>
</p>

<p>
  <strong><%= t('.title')%></strong>
  <%= @album.title %>
</p>

<table class="table">
	<% @album.tracks.each do |track| %>
	  <tr id='<%="track_#{track.id}"%>'>
		<td><%= link_to track.title, track %></td>

		<!-- Only the user with the same user id as the current user id will be able to edit and destroy the tracks belonging to an album -->

		<% if user_signed_in? %>
	        <% if track.album.artist.user_id == current_user.id %>
				<td><%= link_to t('.edit_track'), edit_track_path(track), class: "btn btn-default" %></td>
				<td><%= link_to t('.destroy_track'),track, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true, class: "btn btn-default" %></td>
			<% end %>
	        <% end %>
	  </tr>
	  <%end%>
</table> 

<% if user_signed_in? %>
	<% if @album.artist.user_id == current_user.id %>
		<%= link_to t('.add_track'), new_track_path(album_id: @album), class: "btn btn-default" %> |
		<%= link_to t('.edit_album'), edit_album_path(@album), class: "btn btn-default" %> |
	<% end %>
<% end %>


<%= link_to t('.back'), albums_path, class: "btn btn-default" %>
